<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>새 게시물 작성</title>
</head>
<body>
<h1>새 게시물 작성</h1>
<form action="/post" method="post">
  <label for="title">제목:</label>
  <input type="text" id="title" name="title"/><br/>

  <label for="author">작성자:</label>
  <input type="text" id="author" name="author"/><br/>

  <label for="content">내용:</label>
  <textarea id="content" name="content"></textarea><br/>

  <button type="submit">작성</button>
</form>
<a href="/post">목록으로 돌아가기</a>
</body>
</html>
